<a href="https://colab.research.google.com/github/dprossi/colab_test/blob/main/CodeAcademy_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd

In [4]:
customers = pd.DataFrame([
  ['Jesse Sternberg', '193 6th Avenue', 31],
  ['Amy Lauder', '546 Marblehead Way', 43],
  ['Gerri Sanderson', '65 New York Street', 35],
  ['Austin Barnes', '2888 North Ogden Avenue', 28]],
  columns = ['name', 'address', 'age'])

In [5]:
customers

              name                  address  age
0  Jesse Sternberg           193 6th Avenue   31
1       Amy Lauder       546 Marblehead Way   43
2  Gerri Sanderson       65 New York Street   35
3    Austin Barnes  2888 North Ogden Avenue   28

In [6]:
customers.iloc[2]

name          Gerri Sanderson
address    65 New York Street
age                        35
Name: 2, dtype: object

In [7]:
customers.age

0    31
1    43
2    35
3    28
Name: age, dtype: int64

In [3]:
mylambda = lambda x: x**2 + 3*x if x > 7 else 2*x - 10

In [4]:
mylambda(4)

-2

In [5]:
age_check = lambda x: 'Welcome to the site!' \
    if age > 13 \
    else 'Sorry you are too young to enter this site.'

In [6]:
age_check(13)

NameError: ignored