<a href="https://colab.research.google.com/github/dprossi/colab_test/blob/main/python_org_tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python.org Tutorial

[Tutorial](https://www.learnpython.org/en/Welcome)  
The built in ipython shell was not working on the webpage of the tutorial, so it is caried out in this colab notebook instead.

# Hello, World!

In [1]:
print("This line will be printed.")

This line will be printed.

In [3]:
# Indentation
x = 1
if x == 1:
    # indented four spaces
    print("x is 1.")

x is 1.

# Variables and Types

In [4]:
# Numbers
myint = 7
print(myint)

7

In [5]:
myfloat = 7.0
print(myfloat)
myfloat = float(7)
print(myfloat)

7.0
7.0

In [7]:
# Strings
mystring = 'hello'
print(mystring)
mystring = "hello"
print(mystring)

hello
hello

In [8]:
mystring = "Don't worry about apostrophes"
print(mystring)

Don't worry about apostrophes

In [9]:
one = 1
two = 2
three = one + two
print(three)

hello = "hello"
world = "world"
helloworld = hello + " " + world
print(helloworld)

3
hello world

In [10]:
a, b = 3, 4
print(a,b)

3 4

In [11]:
# This will not work!
one = 1
two = 2
hello = "hello"

print(one + two + hello)

TypeError: ignored

In [12]:
# Exercise
# change this code
mystring = "hello"
myfloat = 10.0
myint = 20

# testing code
if mystring == "hello":
    print("String: %s" % mystring)
if isinstance(myfloat, float) and myfloat == 10.0:
    print("Float: %f" % myfloat)
if isinstance(myint, int) and myint == 20:
    print("Integer: %d" % myint)

String: hello
Float: 10.000000
Integer: 20

# Lists

In [14]:
mylist = []
mylist.append(1)
mylist.append(2)
mylist.append(3)
print(mylist[0]) # prints 1
print(mylist[1]) # prints 2
print(mylist[2]) # prints 3

# prints out 1,2,3
for x in mylist:
    print(x)

print(mylist)

1
2
3
1
2
3
[1, 2, 3]

In [15]:
# index does not exist
mylist = [1,2,3]
print(mylist[10])

IndexError: ignored

In [24]:
# Exercise
numbers = []
strings = []
names = ["John", "Eric", "Jessica"]

# write your code here
numbers.append(1)
numbers.append(2)
numbers.append(3)

strings.append('hello')
strings.append('world')

second_name = names[1]

# this code should write out the filled arrays and the second name in the names list (Eric).
print(numbers)
print(strings)
print("The second name on the names list is %s" % second_name)

[1, 2, 3]
['hello', 'world']
The second name on the names list is Eric

# Basic Operators

In [25]:
# Arithmetic Operators
number = 1 + 2 * 3 / 4.0
print(number)

2.5

In [27]:
# Modulo
remainder = 11 % 3
print(remainder)

2

In [29]:
# Power
squared = 7 ** 2
cubed = 2 ** 3
print(squared)
print(cubed)

49
8

In [30]:
# Operators with Strings
helloworld = "hello" + " " + "world"
print(helloworld)

hello world

In [31]:
lotsofhellos = "hello" * 10
print(lotsofhellos)

hellohellohellohellohellohellohellohellohellohello

In [32]:
# Operators with Lists
even_numbers = [2,4,6,8]
odd_numbers = [1,3,5,7]
all_numbers = odd_numbers + even_numbers
print(all_numbers)

[1, 3, 5, 7, 2, 4, 6, 8]

In [33]:
print([1,2,3] * 3)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [48]:
# Exercise
x = object()
y = object()

# TODO: change this code
x_list = [x] * 10
y_list = [y] * 10
big_list = x_list + y_list

print("x_list contains %d objects" % len(x_list))
print("y_list contains %d objects" % len(y_list))
print("big_list contains %d objects" % len(big_list))

# testing code
if x_list.count(x) == 10 and y_list.count(y) == 10:
    print("Almost there...")
if big_list.count(x) == 10 and big_list.count(y) == 10:
    print("Great!")

x_list contains 10 objects
y_list contains 10 objects
big_list contains 20 objects
Almost there...
Great!

# String Formatting

In [1]:
# This prints out "Hello, John!"
name = "John"
print("Hello, %s!" % name)

Hello, John!

In [2]:
# This prints out "John is 23 years old."
name = "John"
age = 23
print("%s is %d years old." % (name, age))

John is 23 years old.

In [3]:
# This prints out: A list: [1, 2, 3]
mylist = [1,2,3]
print("A list: %s" % mylist)

A list: [1, 2, 3]

In [12]:
data = ("John", "Doe", 53.44)
format_string = "Hello"

print(format_string + " %s %s. Your current balance is $%s." % (data[0], data[1], data[2]))

Hello John Doe. Your current balance is $53.44.

# Basic String Operations

In [14]:
astring = "Hello world!"
astring2 = 'Hello world!'

In [15]:
astring = "Hello world!"
print("single quotes are ' '")

print(len(astring))

single quotes are ' '
12

In [16]:
astring = "Hello world!"
print(astring.index("o"))

4

In [17]:
astring = "Hello world!"
print(astring.count("l"))

3

In [18]:
astring = "Hello world!"
print(astring[3:7])

lo w

In [19]:
astring = "Hello world!"
print(astring[3:7:2])

l

In [20]:
astring = "Hello world!"
print(astring[3:7])
print(astring[3:7:1])

lo w
lo w

In [22]:
# reverse a string
astring = "Hello world!"
print(astring[::-1])

!dlrow olleH

In [23]:
astring = "Hello world!"
print(astring.upper())
print(astring.lower())

HELLO WORLD!
hello world!

In [24]:
astring = "Hello world!"
print(astring.startswith("Hello"))
print(astring.endswith("asdfasdfasdf"))

True
False

In [26]:
astring = "Hello world!"
afewwords = astring.split(" ")
print(afewwords)

['Hello', 'world!']

In [36]:
# Exercise
s = "Strings are awesome!"
# Length should be 20
print("Length of s = %d" % len(s))

# First occurrence of "a" should be at index 8
print("The first occurrence of the letter a = %d" % s.index("a"))

# Number of a's should be 2
print("a occurs %d times" % s.count("a"))

# Slicing the string into bits
print("The first five characters are '%s'" % s[:5]) # Start to 5
print("The next five characters are '%s'" % s[5:10]) # 5 to 10
print("The thirteenth character is '%s'" % s[12]) # Just number 12
print("The characters with odd index are '%s'" %s[1::2]) #(0-based indexing)
print("The last five characters are '%s'" % s[-5:]) # 5th-from-last to end

# Convert everything to uppercase
print("String in uppercase: %s" % s.upper())

# Convert everything to lowercase
print("String in lowercase: %s" % s.lower())

# Check how a string starts
if s.startswith("Str"):
    print("String starts with 'Str'. Good!")

# Check how a string ends
if s.endswith("ome!"):
    print("String ends with 'ome!'. Good!")

# Split the string into three separate strings,
# each containing only a word
print("Split the words of the string: %s" % s.split(" "))

Length of s = 20
The first occurrence of the letter a = 8
a occurs 2 times
The first five characters are 'Strin'
The next five characters are 'gs ar'
The thirteenth character is 'a'
The characters with odd index are 'tig r wsm!'
The last five characters are 'some!'
String in uppercase: STRINGS ARE AWESOME!
String in lowercase: strings are awesome!
String starts with 'Str'. Good!
String ends with 'ome!'. Good!
Split the words of the string: ['Strings', 'are', 'awesome!']

# Conditions

In [37]:
x = 2
print(x == 2) # prints out True
print(x == 3) # prints out False
print(x < 3) # prints out True

True
False
True

In [38]:
# Boolean Operators
name = "John"
age = 23
if name == "John" and age == 23:
    print("Your name is John, and you are also 23 years old.")

if name == "John" or name == "Rick":
    print("Your name is either John or Rick.")

Your name is John, and you are also 23 years old.
Your name is either John or Rick.

In [39]:
# The "in" Operator
name = "John"
if name in ["John", "Rick"]:
    print("Your name is either John or Rick.")

Your name is either John or Rick.

In [40]:
statement = False
another_statement = True
if statement is True:
    # do something
    pass
elif another_statement is True: # else if
    # do something else
    pass
else:
    # do another thing
    pass

In [41]:
x = 2
if x == 2:
    print("x equals two!")
else:
    print("x does not equal to two.")

x equals two!

In [42]:
# The "is" Operator
x = [1,2,3]
y = [1,2,3]
print(x == y) # Prints out True
print(x is y) # Prints out False

True
False

In [43]:
# The "not" Operator
print(not False) # Prints out True
print((not False) == (False)) # Prints out False

True
False

In [49]:
# Exercise
# change this code
number = 16
second_number = 0
first_array = [1, 2, 3]
second_array = [1,2]

if number > 15:
    print("1")

if first_array:
    print("2")

if len(second_array) == 2:
    print("3")

if len(first_array) + len(second_array) == 5:
    print("4")

if first_array and first_array[0] == 1:
    print("5")

if not second_number:
    print("6")

1
2
3
4
5
6

# Loops

In [50]:
# the "for" loop
primes = [2, 3, 5, 7]
for prime in primes:
    print(prime)

2
3
5
7

In [53]:
# Prints out the numbers 0,1,2,3,4
for x in range(5):
    print(x)
print()
# Prints out 3,4,5
for x in range(3, 6):
    print(x)
print()
# Prints out 3,5,7
for x in range(3, 8, 2):
    print(x)

0
1
2
3
4

3
4
5

3
5
7

In [54]:
# "while" loops

# Prints out 0,1,2,3,4
count = 0
while count < 5:
    print(count)
    count += 1  # This is the same as count = count + 1

0
1
2
3
4

In [58]:
# "break" and "continue" statements

# Prints out 0,1,2,3,4
count = 0
while True:
    print(count)
    count += 1
    if count >= 5:
        break
print()

# Prints out only odd numbers - 1,3,5,7,9
for x in range(10):
    # Check if x is even
    if x % 2 == 0:
        continue
    print(x)

0
1
2
3
4

1
3
5
7
9

In [62]:
# "else" in loops

# Prints out 0,1,2,3,4 and then it prints "count value reached 5"
count = 0
while(count < 5):
    print(count)
    count += 1
else:
    print("count value reached %d" %(count))
print()

# Prints out 1,2,3,4
for i in range(1, 10):
    if(i % 5 == 0):
        break
    print(i)
else:
    print("this is not printed because for loop is terminated because of break but not due to fail in condition")

0
1
2
3
4
count value reached 5

1
2
3
4

In [66]:
# Exercise
numbers = [
    951, 402, 984, 651, 360, 69, 408, 319, 601, 485, 980, 507, 725, 547, 544,
    615, 83, 165, 141, 501, 263, 617, 865, 575, 219, 390, 984, 592, 236, 105, 942, 941,
    386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345,
    399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217,
    815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717,
    958, 609, 842, 451, 688, 753, 854, 685, 93, 857, 440, 380, 126, 721, 328, 753, 470,
    743, 527
]

# your code goes here
for number in numbers:
    if number == 237:
      break
    if number % 2 == 1:
      continue
    print(number)

402
984
360
408
980
544
390
984
592
236
942
386
462
418
344
236
566
978
328
162
758
918

# Functions

In [68]:
def my_function():
    print("Hello From My Function!")

In [70]:
my_function()

Hello From My Function!

In [71]:
def my_function_with_args(username, greeting):
    print("Hello, %s , From My Function!, I wish you %s"%(username, greeting))

In [74]:
my_function_with_args("Jane", "good health!")

Hello, Jane , From My Function!, I wish you good health!

In [75]:
def sum_two_numbers(a, b):
    return a + b

In [76]:
sum_two_numbers(2,2)

4

In [78]:
# Calling functions
# Define our 3 functions
def my_function():
    print("Hello From My Function!")

def my_function_with_args(username, greeting):
    print("Hello, %s , From My Function!, I wish you %s"%(username, greeting))

def sum_two_numbers(a, b):
    return a + b

# print(a simple greeting)
my_function()

#prints - "Hello, John Doe, From My Function!, I wish you a great year!"
my_function_with_args("John Doe", "a great year!")

# after this line x will hold the value 3!
x = sum_two_numbers(1,2)
x

Hello From My Function!
Hello, John Doe , From My Function!, I wish you a great year!

3

In [80]:
# Exercise
# Modify this function to return a list of strings as defined above
def list_benefits():
    return["More organized code", "More readable code", "Easier code reuse", "Allowing programmers to share and connect code together"]

# Modify this function to concatenate to each benefit - " is a benefit of functions!"
def build_sentence(benefit):
    return benefit + " is a benefit of functions!"

def name_the_benefits_of_functions():
    list_of_benefits = list_benefits()
    for benefit in list_of_benefits:
        print(build_sentence(benefit))

name_the_benefits_of_functions()

More organized code is a benefit of functions!
More readable code is a benefit of functions!
Easier code reuse is a benefit of functions!
Allowing programmers to share and connect code together is a benefit of functions!

# Classes and Objects

In [81]:
class MyClass:
    variable = "blah"

    def function(self):
        print("This is a message inside the class.")

In [83]:
class MyClass:
    variable = "blah"

    def function(self):
        print("This is a message inside the class.")

# assign to object
myobjectx = MyClass()

In [84]:
class MyClass:
    variable = "blah"

    def function(self):
        print("This is a message inside the class.")

myobjectx = MyClass()

# access variable
myobjectx.variable

'blah'

In [85]:
class MyClass:
    variable = "blah"

    def function(self):
        print("This is a message inside the class.")

myobjectx = MyClass()

print(myobjectx.variable)

blah

In [86]:
class MyClass:
    variable = "blah"

    def function(self):
        print("This is a message inside the class.")

myobjectx = MyClass()
myobjecty = MyClass()

myobjecty.variable = "yackity"

# Then print out both values
print(myobjectx.variable)
print(myobjecty.variable)

blah
yackity

In [87]:
# accessing object functions
class MyClass:
    variable = "blah"

    def function(self):
        print("This is a message inside the class.")

myobjectx = MyClass()

myobjectx.function()

This is a message inside the class.

In [92]:
# Exercise
# define the Vehicle class
class Vehicle:
    name = ""
    kind = "car"
    color = ""
    value = 100.00
    def description(self):
        desc_str = "%s is a %s %s worth $%.2f." % (self.name, self.color, self.kind, self.value)
        return desc_str
# your code goes here
car1 = Vehicle()
car1.name = "Fer"
car1.kind = "convertible"
car1.color = "red"
car1.value = 60000.00

car2 = Vehicle()
car2.name = "Jump"
car2.kind = "van"
car2.color = "blue"
car2.value = 10000.00

# test code
print(car1.description())
print(car2.description())

Fer is a red convertible worth $60000.00.
Jump is a blue van worth $10000.00.

# Dictionaries

In [93]:
phonebook = {}
phonebook["John"] = 938477566
phonebook["Jack"] = 938377264
phonebook["Jill"] = 947662781
print(phonebook)

{'John': 938477566, 'Jack': 938377264, 'Jill': 947662781}