<a href="https://colab.research.google.com/github/dprossi/colab_test/blob/main/python_org_tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python.org Tutorial

[Tutorial](https://www.learnpython.org/en/Welcome)  
The built in ipython shell was not working on the webpage of the tutorial, so it is caried out in this colab notebook instead.

# Hello, World!

In [1]:
print("This line will be printed.")

This line will be printed.

In [3]:
# Indentation
x = 1
if x == 1:
    # indented four spaces
    print("x is 1.")

x is 1.

# Variables and Types

In [4]:
# Numbers
myint = 7
print(myint)

7

In [5]:
myfloat = 7.0
print(myfloat)
myfloat = float(7)
print(myfloat)

7.0
7.0

In [7]:
# Strings
mystring = 'hello'
print(mystring)
mystring = "hello"
print(mystring)

hello
hello

In [8]:
mystring = "Don't worry about apostrophes"
print(mystring)

Don't worry about apostrophes

In [9]:
one = 1
two = 2
three = one + two
print(three)

hello = "hello"
world = "world"
helloworld = hello + " " + world
print(helloworld)

3
hello world

In [10]:
a, b = 3, 4
print(a,b)

3 4

In [11]:
# This will not work!
one = 1
two = 2
hello = "hello"

print(one + two + hello)

TypeError: ignored

In [12]:
# Exercise
# change this code
mystring = "hello"
myfloat = 10.0
myint = 20

# testing code
if mystring == "hello":
    print("String: %s" % mystring)
if isinstance(myfloat, float) and myfloat == 10.0:
    print("Float: %f" % myfloat)
if isinstance(myint, int) and myint == 20:
    print("Integer: %d" % myint)

String: hello
Float: 10.000000
Integer: 20

# Lists

In [14]:
mylist = []
mylist.append(1)
mylist.append(2)
mylist.append(3)
print(mylist[0]) # prints 1
print(mylist[1]) # prints 2
print(mylist[2]) # prints 3

# prints out 1,2,3
for x in mylist:
    print(x)

print(mylist)

1
2
3
1
2
3
[1, 2, 3]

In [15]:
# index does not exist
mylist = [1,2,3]
print(mylist[10])

IndexError: ignored

In [24]:
# Exercise
numbers = []
strings = []
names = ["John", "Eric", "Jessica"]

# write your code here
numbers.append(1)
numbers.append(2)
numbers.append(3)

strings.append('hello')
strings.append('world')

second_name = names[1]

# this code should write out the filled arrays and the second name in the names list (Eric).
print(numbers)
print(strings)
print("The second name on the names list is %s" % second_name)

[1, 2, 3]
['hello', 'world']
The second name on the names list is Eric

# Basic Operators

In [25]:
# Arithmetic Operators
number = 1 + 2 * 3 / 4.0
print(number)

2.5

In [27]:
# Modulo
remainder = 11 % 3
print(remainder)

2

In [29]:
# Power
squared = 7 ** 2
cubed = 2 ** 3
print(squared)
print(cubed)

49
8

In [30]:
# Operators with Strings
helloworld = "hello" + " " + "world"
print(helloworld)

hello world

In [31]:
lotsofhellos = "hello" * 10
print(lotsofhellos)

hellohellohellohellohellohellohellohellohellohello

In [32]:
# Operators with Lists
even_numbers = [2,4,6,8]
odd_numbers = [1,3,5,7]
all_numbers = odd_numbers + even_numbers
print(all_numbers)

[1, 3, 5, 7, 2, 4, 6, 8]

In [33]:
print([1,2,3] * 3)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [48]:
# Exercise
x = object()
y = object()

# TODO: change this code
x_list = [x] * 10
y_list = [y] * 10
big_list = x_list + y_list

print("x_list contains %d objects" % len(x_list))
print("y_list contains %d objects" % len(y_list))
print("big_list contains %d objects" % len(big_list))

# testing code
if x_list.count(x) == 10 and y_list.count(y) == 10:
    print("Almost there...")
if big_list.count(x) == 10 and big_list.count(y) == 10:
    print("Great!")

x_list contains 10 objects
y_list contains 10 objects
big_list contains 20 objects
Almost there...
Great!

# String Formatting

In [1]:
# This prints out "Hello, John!"
name = "John"
print("Hello, %s!" % name)

Hello, John!

In [2]:
# This prints out "John is 23 years old."
name = "John"
age = 23
print("%s is %d years old." % (name, age))

John is 23 years old.

In [3]:
# This prints out: A list: [1, 2, 3]
mylist = [1,2,3]
print("A list: %s" % mylist)

A list: [1, 2, 3]

In [12]:
data = ("John", "Doe", 53.44)
format_string = "Hello"

print(format_string + " %s %s. Your current balance is $%s." % (data[0], data[1], data[2]))

Hello John Doe. Your current balance is $53.44.

# Basic String Operations