<a href="https://colab.research.google.com/github/dprossi/colab_test/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Hello, World!

In [1]:
print("This line will be printed.")

This line will be printed.

In [3]:
# Indentation
x = 1
if x == 1:
    # indented four spaces
    print("x is 1.")

x is 1.

# Variables and Types

In [4]:
# Numbers
myint = 7
print(myint)

7

In [5]:
myfloat = 7.0
print(myfloat)
myfloat = float(7)
print(myfloat)

7.0
7.0

In [7]:
# Strings
mystring = 'hello'
print(mystring)
mystring = "hello"
print(mystring)

hello
hello

In [8]:
mystring = "Don't worry about apostrophes"
print(mystring)

Don't worry about apostrophes

In [9]:
one = 1
two = 2
three = one + two
print(three)

hello = "hello"
world = "world"
helloworld = hello + " " + world
print(helloworld)

3
hello world

In [10]:
a, b = 3, 4
print(a,b)

3 4

In [11]:
# This will not work!
one = 1
two = 2
hello = "hello"

print(one + two + hello)

TypeError: ignored

In [12]:
# Exercise
# change this code
mystring = "hello"
myfloat = 10.0
myint = 20

# testing code
if mystring == "hello":
    print("String: %s" % mystring)
if isinstance(myfloat, float) and myfloat == 10.0:
    print("Float: %f" % myfloat)
if isinstance(myint, int) and myint == 20:
    print("Integer: %d" % myint)

String: hello
Float: 10.000000
Integer: 20

# Lists

In [14]:
mylist = []
mylist.append(1)
mylist.append(2)
mylist.append(3)
print(mylist[0]) # prints 1
print(mylist[1]) # prints 2
print(mylist[2]) # prints 3

# prints out 1,2,3
for x in mylist:
    print(x)

print(mylist)

1
2
3
1
2
3
[1, 2, 3]

In [15]:
# index does not exist
mylist = [1,2,3]
print(mylist[10])

IndexError: ignored

In [24]:
# Exercise
numbers = []
strings = []
names = ["John", "Eric", "Jessica"]

# write your code here
numbers.append(1)
numbers.append(2)
numbers.append(3)

strings.append('hello')
strings.append('world')

second_name = names[1]

# this code should write out the filled arrays and the second name in the names list (Eric).
print(numbers)
print(strings)
print("The second name on the names list is %s" % second_name)

[1, 2, 3]
['hello', 'world']
The second name on the names list is Eric

# Basic Operators